@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  min-height: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body {
  background-color: #f3f4f6;
  color: #000000;
}

.dark body,
html.dark body {
  background-color: #111827;
  color: #ffffff;
}
